# Python
__pycache__/
*.py[cod]
*$py.class
*.env
.venv/
env/
venv/
ENV/
.pytest_cache/

# Databases
*.db
*.sqlite
*.sqlite3

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local
.eslintcache

# OS
.DS_Store
Thumbs.db
